@model GUI.Models.DTOs.Customer_DTO.DetailCustomerResponse

@{
    ViewData["Title"] = "Delete";
}

<h3>Có chắc muốn xóa?</h3>
<div>
    <h4>Khách Hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="ConfirmDelete">
        <input name="Id" value="@Model.Id" hidden />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
