################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DATN_ACV_DEV/FileContentIndex
/DATN_ACV_DEV/Migrations
/DATN_ACV_DEV/obj/Debug/net7.0/ApiEndpoints.json
/DATN_ACV_DEV/obj/Debug/net7.0/DATN_ACV_DEV.AssemblyInfo.cs
/DATN_ACV_DEV/obj/Debug/net7.0/DATN_ACV_DEV.AssemblyInfo.cs
/DATN_ACV_DEV/obj/Debug/net7.0/DATN_ACV_DEV.AssemblyInfoInputs.cache
/DATN_ACV_DEV/obj/Debug/net7.0/DATN_ACV_DEV.assets.cache
/DATN_ACV_DEV/obj/Debug/net7.0/DATN_ACV_DEV.GeneratedMSBuildEditorConfig.editorconfig
/.vs/DATN_ACV_DEV/v17/.suo
/**/obj
/**/bin
.vs/DATN_ACV_DEV/DesignTimeBuild/.dtbcache.v2
.vs/DATN_ACV_DEV/config/applicationhost.config
.vs/DATN_ACV_DEV/v17/.futdcache.v2
.vs/DATN_ACV_DEV/v17/DocumentLayout.json
.vs/DATN_ACV_DEV/v17/HierarchyCache.v1.txt
.vs/DATN_SMARTHOUSE_DEV/v17/.suo
.vs/DATN_SMARTHOUSE_DEV/v17/DocumentLayout.json
.vs/DATN_ACV_DEV/v17/HierarchyCache.v1.txt
/.vs
GUI/bin
GUI/obj
/GUI/obj/Debug/net7.0/ref/GUI.dll
/GUI/obj/Debug/net7.0/refint/GUI.dll
/GUI/obj/Debug/net7.0/staticwebassets/msbuild.GUI.Microsoft.AspNetCore.StaticWebAssets.props
/GUI/obj/Debug/net7.0/apphost.exe
/GUI/obj/Debug/net7.0/GUI.AssemblyInfo.cs
/GUI/obj/Debug/net7.0/GUI.AssemblyInfoInputs.cache
/GUI/bin/Debug/net7.0/GUI.staticwebassets.runtime.json
/GUI/bin/Debug/net7.0/GUI.dll
/GUI/bin/Debug/net7.0/GUI.exe
/GUI/bin/Debug/net7.0/GUI.pdb
/GUI/obj/Debug/net7.0/GUI.csproj.AssemblyReference.cache
/GUI/obj/Debug/net7.0/GUI.dll
/GUI/obj/Debug/net7.0/GUI.pdb
/GUI/obj/Debug/net7.0/GUI.sourcelink.json
/GUI/obj/Debug/net7.0/staticwebassets.build.json
/GUI/obj/Debug/net7.0/staticwebassets.development.json
/GUI/obj/Debug/net7.0/staticwebassets.pack.json
/.vs/ProjectEvaluation/datn_acv_dev.metadata.v8.bin
/.vs/ProjectEvaluation/datn_acv_dev.projects.v8.bin
/.vs/ProjectEvaluation/datn_acv_dev.strings.v8.bin
/.vs/DATN_ACV_DEV/v17/.futdcache.v2
/.vs/DATN_ACV_DEV/DesignTimeBuild/.dtbcache.v2
/.vs/DATN_ACV_DEV/v17/DocumentLayout.json
