@using GUI.Models.DTOs.Order_DTO
@model CustomerInfo

<div class="mb-2">
    <label>Tên</label>
    <input class="form-control" value="@Model.Name" id="customerName" type="text" />
    <p class="text-danger" style="display:none" id="order-customer-name">Trường này là bắt buộc</p>
</div>
<div class="mb-2">
    <label>Số điện thoại</label>
    <input class="form-control" onblur="checkCustomerHasBoughtSomething(event)" value="@Model.PhoneNumber"
           id="customerPhoneNumber" type="text" maxlength="10" />
    <p class="text-danger" style="display:none" id="order-customer-phone">Trường này là bắt buộc</p>
</div>
<div class="mb-2">
    <label>Địa chỉ</label>
    <input class="form-control" value="@Model.Address" id="customerAddress" type="text" />
    <p class="text-danger" style="display:none" id="order-customer-address">Trường này là bắt buộc</p>
</div>