@using System.Globalization
@using GUI.Models.DTOs.Order_DTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_Layout";
}

<style>
    .table-fixed thead > tr, .table-fixed tbody > tr {
        display: flex;
        justify-content: space-around;
        flex: 0 0 auto;
    }

        .table-fixed thead > tr th, .table-fixed tbody > tr th, .table-fixed thead > tr td, .table-fixed tbody > tr td {
            flex: 1;
        }

    .table-fixed tbody {
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }

    .table-lock-height > tbody {
        height: 200px;
    }
</style>
<link href="~/lib/toastr/toastr.css" rel="stylesheet">


<div class="container-fluid" id="order-container">
    <div class="mb-2 p-3 border">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        Danh sách hoá đơn chờ xử lý
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                    <div class="accordion-body" id="orderPersistenceSaveContainer">
                        @await Html.PartialAsync("_OrderListPartialView", ViewData["OrderSaved"] as List<OrderListItem>)
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        Danh sách hoá đơn tạm
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body" id="orderTempSaveContainer">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 p-3">
            <div class="border p-3 h-100">
                <form autocomplete="off" class="w-100" onsubmit="return false">
                    <div class="mb-3 autocomplete w-100">
                        <input placeholder="Tên, mã sản phẩm..." id="search" class="form-control">
                        <div class="autocomplete-items" id="autocomplete-list"></div>
                    </div>
                </form>
                <div id="orderItemContainer">
                    @await Html.PartialAsync("_OrderItemListPartialView", Array.Empty<OrderItem>())
                </div>
            </div>
        </div>
        <div class="col-md-4 p-3">
            <div class="p-3 border mb-3">
                <h5>Thông tin khách hàng</h5>
                <hr />
                <div id="customerInfoContainer">
                    @await Html.PartialAsync("_OrderCustomerInfoPartialView", new CustomerInfo())
                </div>
            </div>
            <div class="p-3 border mb-3">
                <h5>Thông tin giao hàng</h5>
                <hr />
                <div id="shippingInfoContainer">
                    @await Html.PartialAsync("_OrderShippingInfoPartialView", new ShippingInfo())
                </div>
            </div>
            <div id="checkout-area-2" class="p-3 border">
                <h5>Thông tin hoá đơn</h5>
                <hr />
                <div id="orderPaymentInfoContainer">
                    @await Html.PartialAsync("_OrderPaymentInfoPartialView", new PaymentInfo())
                </div>
                <hr />
                <div class="row" id="orderButtonActionContainer">
                    @await Html.PartialAsync("_OrderButtonActionPartialView", true)
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/product.js"></script>
    <script src="~/js/orderPage.js"></script>
}