@{
	Layout = "_LayoutStore";
}
<!-- HOT DEAL SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="hot-deal">
					<ul class="hot-deal-countdown">
						<li>
							<div>
								<h3>
									<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
										<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
									</svg>
								</h3>
							</div>
						</li>
					</ul>
					<h2 class="text-uppercase">Mua hàng thành công</h2>
					<p>Cảm ơn bạn đã ủng hộ shop!</p>
					@if (!string.IsNullOrEmpty(ViewBag.OrderId))
					{
						<h4>Mã đơn hàng: @ViewBag.OrderId</h4>
					}
					<a class="primary-btn cta-btn" href="Store">Tiếp tục mua hàng</a>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->