/* _content/GUI/Views/Login/login.cshtml.rz.scp.css */

.former > .btn[b-pzizlj725g] {
    margin-top: 1.5rem;
}

.btn:active[b-pzizlj725g] {
    transform: scale(0.95);
}

.btn:focus[b-pzizlj725g] {
    outline: none;
}

.former[b-pzizlj725g] {
    background-color: #e9e9e9 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    padding: 0 3rem !important;
    height: 100% !important;
    text-align: center !important;
}

.login-body[b-pzizlj725g] {
    align-items: center;
    background-color: #e9e9e9;
    background: url("https://static.wixstatic.com/media/16fde8_1dd34e77796d48a0bfa3c4e24828a62b~mv2.png/v1/fill/w_977,h_667,al_c,q_90,enc_auto/AdobeStock_567457881_edited.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
}

.form__title[b-pzizlj725g] {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1.25rem;
}

.link[b-pzizlj725g] {
    color: #333;
    font-size: 0.9rem;
    margin: 1.5rem 0;
    text-decoration: none;
}
.branding-name[b-pzizlj725g] {
    font-style: italic;
}
.container[b-pzizlj725g] {
    background-color: #e9e9e9;
    border-radius: 0.7rem;
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: 720px;
    max-width: 1320px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.container__form[b-pzizlj725g] {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.container--signin[b-pzizlj725g] {

    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .container--signin[b-pzizlj725g] {
    transform: translateX(-100%);

}

.container--signup[b-pzizlj725g] {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.container.right-panel-active .container--signup[b-pzizlj725g] {
    animation: show-b-pzizlj725g 0.6s;
    opacity: 1;

    transform: translateX(100%);
    z-index: 5;
}

.container__overlay[b-pzizlj725g] {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}

.container.right-panel-active .container__overlay[b-pzizlj725g] {
    transform: translateX(-100%);
}

.overlay[b-pzizlj725g] {
    background-color: #008997;
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/3a9ca7161360513.63c43bdd11522.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}


.container.right-panel-active .overlay[b-pzizlj725g] {
    transform: translateX(50%);
}

.overlay__panel[b-pzizlj725g] {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}

.overlay--left[b-pzizlj725g] {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay--left[b-pzizlj725g] {
    transform: translateX(0);
}

.overlay--right[b-pzizlj725g] {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay--right[b-pzizlj725g] {
    transform: translateX(20%);
}

.btn[b-pzizlj725g] {
    background-color: #0367a6;
    background-image: linear-gradient(90deg, #0367a6 0%, #008997 74%);
    border-radius: 20px;
    border: 1px solid #0367a6;
    color: #e9e9e9;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}


.input[b-pzizlj725g] {
    background-color: #fff;
    border: none;
    padding: 0.9rem 0.9rem;
    margin: 0.5rem 0;
    width: 100%;
}

@keyframes show-b-pzizlj725g {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
/* _content/GUI/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-npbeol5hjh] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-npbeol5hjh] {
  color: #0077cc;
}

.btn-primary[b-npbeol5hjh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-npbeol5hjh], .nav-pills .show > .nav-link[b-npbeol5hjh] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-npbeol5hjh] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-npbeol5hjh] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-npbeol5hjh] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-npbeol5hjh] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-npbeol5hjh] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
