/* _content/GUI/Views/Login/login.cshtml.rz.scp.css */

.former > .btn[b-9qt2s0yyml] {
    margin-top: 1.5rem;
}

.btn:active[b-9qt2s0yyml] {
    transform: scale(0.95);
}

.btn:focus[b-9qt2s0yyml] {
    outline: none;
}
.w-full[b-9qt2s0yyml] {
    width: 100%;
}
.former[b-9qt2s0yyml] {
    background-color: #ffffff !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    padding: 0 3rem !important;
    height: 100% !important;
    text-align: center !important;
}

.login-body[b-9qt2s0yyml] {
    align-items: center;
    background-color: #e9e9e9;
    background: url("assets/bglogin.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    height: 100vh;
    place-items: center;
}

.form__title[b-9qt2s0yyml] {
    font-weight: 500;
    margin: 0;
    margin-bottom: 1.25rem;
}

.link[b-9qt2s0yyml] {
    color: #333;
    font-size: 0.9rem;
    margin: 1.5rem 0;
    text-decoration: none;
}
.branding-name[b-9qt2s0yyml] {
    font-style: italic;
    font-size: 23px;
}
.container[b-9qt2s0yyml] {
    background-color: #e9e9e9;
    border-radius: 0.7rem;
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: 660px;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.container__form[b-9qt2s0yyml] {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s ease-in-out;
}

.container--signin[b-9qt2s0yyml] {

    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .container--signin[b-9qt2s0yyml] {
    transform: translateX(-100%);

}

.container--signup[b-9qt2s0yyml] {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.container.right-panel-active .container--signup[b-9qt2s0yyml] {
    animation: show-b-9qt2s0yyml 0.6s;
    opacity: 1;

    transform: translateX(100%);
    z-index: 5;
}

.container__overlay[b-9qt2s0yyml] {
    height: 100%;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: transform 0.6s ease-in-out;
    width: 50%;
    z-index: 100;
}

.container.right-panel-active .container__overlay[b-9qt2s0yyml] {
    transform: translateX(-100%);
}

.overlay[b-9qt2s0yyml] {
    background-color: #008997;
    background: url("assets/overlay3.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: -100%;
    position: relative;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 200%;
}


.container.right-panel-active .overlay[b-9qt2s0yyml] {
    transform: translateX(50%);
}

.overlay__panel[b-9qt2s0yyml] {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    width: 50%;
}
.text-right[b-9qt2s0yyml] {
    display: flex;
    align-items: flex-end;
}
.overlay--left[b-9qt2s0yyml] {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay--left[b-9qt2s0yyml] {
    transform: translateX(0);
}

.overlay--right[b-9qt2s0yyml] {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay--right[b-9qt2s0yyml] {
    transform: translateX(20%);
}

.btn-authenticator[b-9qt2s0yyml] {
    background-color: #0367a6;
    background-image: linear-gradient(90deg, #0367a6 0%, #008997 74%);
    border-radius: 20px;
    border: 1px solid #0367a6;
    color: #e9e9e9;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.9rem 4rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}


.input[b-9qt2s0yyml] {
    width: 100%;
    border: none;
    height: 50px;
    width: 420px;
margin-bottom: 12px;
    padding-left: 25px;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    color: #101010;
    -webkit-box-shadow: 0px 2px 25px 3px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 2px 25px 3px rgba(0, 0, 0, 0.11);
}

.input[b-9qt2s0yyml]::-webkit-input-placeholder {
    color: #131313;
}

.input:-ms-input-placeholder[b-9qt2s0yyml] {
    color: #131313;
}

.input[b-9qt2s0yyml]::-ms-input-placeholder {
    color: #131313;
}

.input[b-9qt2s0yyml]::placeholder {
    color: #131313;
}


@keyframes show-b-9qt2s0yyml {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
.modal-content[b-9qt2s0yyml] {
    border-radius: 0.7rem !important;
    width: 500px;
}
/* _content/GUI/Views/Shared/_Layout.cshtml.rz.scp.css */
body[b-npbeol5hjh] {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.main-content[b-npbeol5hjh] {
    display: flex;
    flex: 1;
}

.sidebar[b-npbeol5hjh] {
    width: 250px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-header[b-npbeol5hjh] {
    padding: 1rem;
    display: flex;
    align-items: center;
}

    .sidebar-header img[b-npbeol5hjh] {
        width: 80px; /* Tăng kích thước ảnh */
        margin-right: 1rem;
    }

    .sidebar-header h5[b-npbeol5hjh] {
        margin: 0;
    }

.nav-link[b-npbeol5hjh] {
    color: #495057;
}

.container[b-npbeol5hjh] {
    flex-grow: 1;
    padding: 2rem;
}

.footer[b-npbeol5hjh] {
    width: 100%;
    padding: 1rem;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    text-align: center;
}
