@model GUI.Models.DTOs.Product_DTO.CreateProductRequest

@{
    ViewData["Title"] = "Thêm sản phẩm";
}

<div class="container">
    <h1>Thêm sản phẩm mới</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
@*                 <div class="form-group">
                    <label asp-for="Code" class="control-label">Mã sản phẩm</label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Giá sản phẩm</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Mô tả</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriceNet" class="control-label">Giá bán</label>
                    <input asp-for="PriceNet" class="form-control" />
                    <span asp-validation-for="PriceNet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Danh mục</label>
                    <select asp-for="CategoryId" class="form-select" aria-label="Default select example">
                        <option selected></option>
                        <option value="CE6A2231-32EB-46B5-897D-1D3ACECD58DD">Máy giặt</option>
                        <option value="B542880B-F661-456A-9ADD-265B05C1B2BB">Bếp từ</option>
                        <option value="40B3DF22-93E8-4FD9-992E-2FEF21AD8F9F">Nồi cơm điện</option>
                        <option value="B1D7660D-4D38-4594-933A-AB30B0AF6591">Nồi chiên</option>
                        <option value="ABA63282-2ABC-416D-820D-CF60B39C487E">Lò vi sóng</option>
                        <option value="4306D97C-8A9E-4A67-8B57-EAF59EA22B0F">Tủ lạnh</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UrlImage" class="control-label">Ảnh sản phẩm</label>
                    <input type="file" id="fileInput" class="form-control" accept="image/*" />
                    <img id="imagePreview" src="" alt="Image preview" style="display:none; max-width: 100%; height: auto;" />
                    <input type="hidden" asp-for="UrlImage" id="urlImage" />
                    <span asp-validation-for="UrlImage" class="text-danger"></span>
                </div>
                @* <div class="form-group">
                <label asp-for="UserCode" class="control-label">Mã Nhân Viên</label>
                <input asp-for="UserCode" class="form-control" />
                <span asp-validation-for="UserCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label asp-for="InActive" class="control-label">Hoạt động</label>
                <input type="checkbox" asp-for="InActive" class="form-check-input" />
                <span asp-validation-for="InActive" class="text-danger"></span>
                </div> *@
                <br />
                <div class="form-group">
                    <input type="submit" value="Thêm mới" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Quay lại</a>
    </div>
</div>
<script>
    document.getElementById('fileInput').addEventListener('change', function (event) {
        var file = event.target.files[0];
        if (file) {
            // Tạo URL tạm thời cho ảnh
            var reader = new FileReader();
            reader.onload = function (e) {
                var img = document.getElementById('imagePreview');
                img.src = e.target.result;
                img.style.display = 'block';
            };
            reader.readAsDataURL(file);

            // Cập nhật giá trị của trường ẩn
            var urlImageInput = document.getElementById('urlImage');
            urlImageInput.value = file.name; // Hoặc đường dẫn tạm thời nếu bạn gửi file lên server và nhận URL
            console.log(urlImageInput.value)
        } else {
            // Nếu không có file nào được chọn, ẩn ảnh và xóa giá trị
            document.getElementById('imagePreview').style.display = 'none';
            document.getElementById('urlImage').value = '';
        }
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
