@using GUI.Models.DTOs.Voucher_DTO

@model VoucherFormModel

<div class="p-3">
    <form asp-controller="Voucher" asp-action="Handle" method="post">
        <input asp-for="IsEditMode" hidden />
        <input asp-for="Voucher.Id" hidden />
        <div class="mb-3">
            <label>Mã</label>
            <input class="form-control" asp-for="Voucher.Code" onchange="normalize(event)"/>
            <span class="text-danger" asp-validation-for="Voucher.Code"></span>
        </div>
        <div class="mb-3">
            <label>Tên</label>
            <input class="form-control" asp-for="Voucher.Name" />
            <span class="text-danger" asp-validation-for="Voucher.Name"></span>
        </div>
        <div class="mb-3">
            <label>Số lượng</label>
            <input class="form-control" type="number" asp-for="Voucher.Quantity" />
            <span class="text-danger" asp-validation-for="Voucher.Quantity"></span>
        </div>
        <div class="mb-3">
            <label>Hình thức giảm giá</label>
            <select asp-for="Voucher.Unit" class="form-select" onchange="voucherUnitChange(event)">
                <option value="0">Giảm giá theo phần trăm</option>
                <option value="1">Giảm tiền trực tiếp</option>
            </select>
        </div>
        <div class="mb-3">
            <label>Giá trị</label>
            <input class="form-control" type="number" asp-for="Voucher.Discount"/>
            <span class="text-danger" asp-validation-for="Voucher.Discount"></span>
        </div>
        <div class="mb-3" id="maxDiscount" style="display: @(Model.Voucher.Unit == DATN_ACV_DEV.Entity.VoucherUnit.Percent ? "block" : "none")">
            <label>Số tiền giảm tối đa</label>
            <input asp-for="Voucher.MaxDiscount" type="number" class="form-control" />
            <span class="text-danger" asp-validation-for="Voucher.MaxDiscount"></span>
        </div>
        @* <div class="mb-3">
            <label>Số tiền tối thiểu để được áp dụng voucher</label>
            <input asp-for="Voucher.RequiredTotalAmount" type="number" class="form-control" />
            <span class="text-danger" asp-validation-for="Voucher.RequiredTotalAmount"></span>
        </div> *@
        <div class="mb-3 row">
            <div class="col-6">
                <label>Ngày bắt đầu</label>
                <input asp-for="Voucher.StartDate" class="form-control datepicker" type="date" />
            </div>
            <div class="col-6">
                <label>Ngày kết thúc</label>
                <input asp-for="Voucher.EndDate" class="form-control datepicker" type="date" />
                <span class="text-danger" asp-validation-for="Voucher.EndDate"></span>
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" asp-for="Voucher.Status"/>
            <label class ="form-check-label">Khả dụng</label>
        </div>
        <hr />
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn me-3 @(Model.IsEditMode ? "btn-success" : "btn-primary")">@(Model.IsEditMode ? "Cập nhật" : "Tạo")</button>
            <a class="btn btn-danger" asp-controller="Voucher" asp-action="Index">Quay lại</a>
        </div>
    </form>
</div>