@using GUI.Models.DTOs.Voucher_DTO
@model VoucherFormModel

<div class="container">
    <h3>Chi tiết voucher</h3>
    <hr />
    @await Html.PartialAsync("_VoucherForm", @Model)
</div>

@section Scripts {
    <script src="~/js/voucher.js"></script>
}